PORT = 8050;
MONGODB_URI = mongodb+srv://sanjaylondheemail_db_user:kHxVHinU82NyvBIn@cluster0.2tzfkzp.mongodb.net/?appName=Cluster0
CORS_ORIGIN =*

ACCESS_TOKEN_SECRET = siddh_has_a_cat

ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET =  siddh_has_a_cat
REFRESH_TOKEN_EXPIRY = 10d

CLOUDINARY_CLOUD_NAME =  vf39od5s
CLOUDINARY_API_KEY =  327315689395792
CLOUDINARY_API_SECRET =_iuL1jrLzZ5KGd-5oBShb4u0B80